div
	br
	section.form-inline
		button.btn.btn2.btn-default.pull-right(ng-click="limpiar()") Limpiar filtro
		button.btn.btn2.btn-primary.pull-right(type="button", ng-model="filtro", uib-btn-checkbox="")
			span.glyphicon.glyphicon-filter
		button.btn.btn2.btn-primary(ng-click="agregar()")
			i.icon-white.icon-plus
			|	Agregar licitacion
	br
	table.table.table-striped(ng-table="tableLicitaciones", show-filter="filtro")
		tr(ng-repeat="l in $data")
			td(data-title="'Nombre'", sortable="'nombre'", width="400", filter="{ 'nombre': 'text' }")
				span {{l.nombre}}
			td(data-title="'Descripcion'", sortable="'descripcion'", width="330", filter="{ 'descripcion': 'text' }")
				span {{l.descripcion}}
			td(data-title="'Fecha inicio'", sortable="'fecha_inicio'", width="100", filter="{ 'fecha_inicio': 'text' }")
				span {{l.fecha_inicio | date:'dd/MM/yyyy'}}
			td(data-title="'Fecha final'", sortable="'fecha_final'", width="100", filter="{ 'fecha_final': 'text' }")
				span {{l.fecha_final | date:'dd/MM/yyyy'}}
			td(data-title="'Acciones'", width="100")
				// <button ng-click="ver(p)"	class="btn btn-default btn-xs">Ver</button>
				button.btn.btn-primary.btn-xs(ng-click="documentos(l)")
					span.glyphicon.glyphicon-file
				a.btn.btn-primary.btn-xs(ui-sref="preguntas_licitacion({id : l.id})") Preguntas
				a.btn.btn-warning.btn-xs(ui-sref="finalizar({id : l.id})")
					span.glyphicon.glyphicon-print
