.row
	.col-sm-12.z-depth-1.box
		textarea(placeholder="Escriba aqui su pregunta/comentario...", ng-model="pregunta")
		br
		.col-lg-6(ng-repeat="a in ambitos")
			label
				| {{a.nombre}}
				input(ng-true-value="{{a.id}}", ng-model="ambitosSel[$index]", name="ambitos", type="checkbox")
		button.btn.btn-success.btn2.col-sm-12(ng-disabled="!pregunta || !validAmbitos(ambitosSel)", ng-click="enviar()") Enviar
	.col-sm-12.z-depth-1.comment Preguntas/comentarios anteriores:
	.col-sm-12.z-depth-1.comment(ng-repeat="p in preguntas")
		span(ng-bind-html="p.pregunta")
		br
		span.pull-right.fecha {{p.fecha_crea}}
