div
	br
	section.form-inline
		button.btn.btn2.btn-default.pull-right(ng-click="limpiar()") Limpiar filtro
		button.btn.btn2.btn-primary.pull-right(type="button", ng-model="filtro", uib-btn-checkbox="")
			span.glyphicon.glyphicon-filter
		button.btn.btn2.btn-primary(ng-click="agregar()")
			i.icon-white.icon-plus
			|	Agregar rol
	br
	table.table.table-striped(ng-table="tableRoles", show-filter="filtro")
		tr(ng-repeat="rol in $data")
			td(data-title="'Nombre'", sortable="'nombre'", filter="{ 'nombre': 'text' }")
				span {{rol.nombre}}
			td(data-title="'Acciones'", width="125")
				a.btn.btn-primary.btn-xs(ng-click="editar(rol.id); rol.$edit = true")
					span.glyphicon.glyphicon-pencil
				a.btn.btn-danger.btn-xs(ng-click="eliminar(rol.id,$index)")
					span.glyphicon.glyphicon-remove
